
:root {
    --g-grey: rgba(211, 211, 211, 0.5);
    --g-grey-solid: rgba(211, 211, 211);
    --g-dark-grey: hsl(0, 0%, 40%);
    --g-green: #72d972;
    --g-success: #198754;
    --g-success-hover: #157347;
    --g-failure: #dc3545;
    --g-alert: #f5c6cb;
    --g-red: #e15754;
    --g-ready: 7
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header, .footer {
    background-color: var(--g-dark-grey);
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    text-align: center;
}
.header {
    top: 0;
}

.header span.play-mafia {
    position: absolute;
    top: 0vw;
    left: 1vw;
    height: 44px;
    width: 44px;
    font-size: 44px;
    color: white;
}

.header span.play-mafia:before {
    content: "stadia_controller";
}

.header span.user-logout,
.header span.user-login {
    position: absolute;
    top: 0vw;
    right: 1vw;
    height: 44px;
    width: 44px;
    font-size: 44px;
    color: white;
}
.header a:visited {
    color: white;  /* Change color when the link has been visited */
    /*text-decoration: underline;  !* Optionally, add an underline *!*/
}
.header span.user-logout:before {
    content: "logout";
}
.header span.user-logout:hover {
    color: var(--g-failure);
}


.header a:visited {
    color: white;  /* Change color when the link has been visited */
    /*text-decoration: underline;  !* Optionally, add an underline *!*/
}
.header span.user-login:before {
    content: "login";
}
.header span.user-login:hover {
    color: var(--g-success);
}

.header span.user-avatar {
    position: absolute;
    top: 0vw;
    right: calc(1vw + 48px);
    height: 44px;
}


.header span.user-avatar img {
    height: 100%;
}
.footer {
    bottom: 0;
}
.container {
    /*max-width: 800px;*/
    max-width: 90vw;
    margin: 60px auto; /* Adjust margin to make space for header and footer */
    padding: 10px;
}
form {
    max-width: 600px;
    margin: auto;
}
.form-control {
    width: auto; /* Adjust input width */
}
.btn-create {
    width: auto; /* Adjust button width */
}
.table-container {
    max-height: calc(100vh - 4vw); /* Adjust maximum height for scroll */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 2vw; /* Adjust margin to avoid overlapping with header */
    margin-bottom: 2vw; /* Adjust margin to avoid overlapping with footer */
}