video.muted {
    border: 5px solid #e15754;
}

video {
    border: 5px solid #72d972;
    border-radius: 5%;
    margin: 5px;
    height: 70%;
    object-fit:cover;
}

div .videobox{
    position: relative;
}
div.videobox[id^='video'] button{
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: 10%;
    padding-left: 2px;
    padding-right: 2px;
}

div.videobox[id^='video-']:hover button{
    visibility: visible;
}

div .videobox input#volumeSlider{
    visibility: hidden;
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 80%;
}

div.videobox[id^='video-']:hover input#volumeSlider {
    visibility: visible;
}

div.videos {
    display:inline-block;
    /* float:left; */
}

#chat {
    display:block;
    float:left;
    clear:both;
}

#chat-messages {
    width: 700px;
}

#chat-messages th.chat-time, th.chat-from, th.chat-to {
    width: 68px;
    text-align: left;
    border: grey 1px solid;
}
#chat-messages  th.chat-message{
    width: 500px;
    text-align: center;
    border: grey 1px solid;
}

#chat-messages td.chat-time, td.chat-from, td.chat-to {
    width: 68px;
    text-align: left;
    vertical-align: text-top;
    border-bottom: grey 1px solid;
}
#chat-messages  td.chat-message {
    width: 500px;
    text-align: left;
    vertical-align: text-top;
    border-bottom: grey 1px solid;
}

#chat-messages  td.chat-from.self-message, td.chat-message.self-message {
    color: darkgray;
}

#chat-messages  td.chat-from.host-message, td.chat-message.host-message {
    color: darkblue;
}
