video.muted {
    border: 5px solid #e15754;
}

video {
    border: 5px solid #72d972;
    box-shadow: 3px 3px rgb(231, 226, 226);
    border-radius: 10%;
    margin: 10px;
}

div .videobox{
    position: relative;
}
div .videobox button{
    position: absolute;
    top: 10%;
    left: 10%;
}

#remoteVideos video{
    object-fit:cover;
    width:320px;
    height:240px
}

#localVideo {
    object-fit:cover;
    width:320px;
    height:240px
}

div.videos {
    display:inline-block;
    float:left;
}

#chat {
    display:block;
    float:left;
    clear:both;
}

#chat-messages {
    width: 700px;
}

#chat-messages th.chat-time, th.chat-from, th.chat-to {
    width: 68px;
    text-align: left;
    border: grey 1px solid;
}
#chat-messages  th.chat-message{
    width: 500px;
    text-align: center;
    border: grey 1px solid;
}

#chat-messages td.chat-time, td.chat-from, td.chat-to {
    width: 68px;
    text-align: left;
    vertical-align: text-top;
    border-bottom: grey 1px solid;
}
#chat-messages  td.chat-message {
    width: 500px;
    text-align: left;
    vertical-align: text-top;
    border-bottom: grey 1px solid;
}

#chat-messages  td.chat-from.self-message, td.chat-message.self-message {
    color: darkgray;
}

#chat-messages  td.chat-from.host-message, td.chat-message.host-message {
    color: darkblue;
}